<!-- <table class="table" style="color: white;">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Album</th>
      <th>Song</th>
      <th>Preview</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let track of topTracks">
      <td><img [src]="track.album.images | noImage" class="img-thumb"></td>
      <td>{{ track.album.name }}</td>
      <td>{{ track.name }}</td>
      <td>
        <iframe [src]="track.id | domSafe" 
                width="300" height="80" frameborder="0" allowtransparency="true" 
                allow="encrypted-media">
        </iframe>
      </td>
    </tr>
  </tbody>
</table> -->